.container {
    width: 90%;
    height: 90%; 
    position: relative;
    background-color: black; 
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background-color: black;
    margin: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.sound{
    z-index: 10000;
    right: 90%;
    top: 40px;
    position: absolute;
    font-size: 30px;
    border-radius: 100px;
    background-color: white;
    border-color: transparent;
}

.dino {
    font-size: 8vmin;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%) scaleX(-1);
    z-index: 2;
}

@keyframes dinojump {
    0% {
        top: 30%;
    }
    100% {
        top: 50%;
    }
}

.cactus {
    font-size: 7vmin;
    position: absolute;
    top: 47%;
    left: 100%;
    transform: translateY(-50%);
    z-index: 1;
    animation: cactus-move 3s infinite linear;
}

@keyframes cactus {
    0% {
        left: 90%;
        transform: translateX(100%); /* Начальная позиция справа */
        opacity: 1;
    }
    90% {
        opacity: 1; /* Полная видимость на 90% пути */
    }
    100% {
        left: 10%;
        transform: translateX(-10%); /* Конечная позиция слева */
        opacity: 0; /* Полностью исчезает */
    }
}

.black-square, .black-square2 {
    display: none;
    width: 12vmin;
    height: 12vmin;
    background-color: black;
    position: absolute;
    top: 58%;
    transform: translateY(-50%);
    z-index: 1000;
}

.black-square {
    left: 10%;
}

.black-square2 {
    left: 90%;
}

.play {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 15vmin;
    height: 7vmin;
    font-size: 2vmin;
    border: none;
    border-radius: 2vmin;
    transition: background-color 0.3s ease;
}

.gameover:hover {
    background-color: #aa251b;
}

.play:hover {
    background-color: #929a00;
}

.gameover {
    display: none;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 15vmin;
    height: 7vmin;
    font-size: 2vmin;
    color: rgb(255, 251, 0);
    background-color: #f2ff01;
    border: none;
    border-radius: 2vmin;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #f44336;
}

.points {
    display: none;
    position: absolute;
    top: 5%;
    right: 5%;
    color: white;
    font-size: 3vmin;
    z-index: 3;
}

:root {
    --red: #FF6565;
    --pink: #FF64F9;
    --purple: #6B5FFF;
    --blue: #4D8AFF;
    --green: #5BFF89;
    --yellow: #FFEE55;
    --orange: #FF6D1B;
    
  }

  .play {
    border: 5px solid transparent;
    color: #F3F3F3;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    background:linear-gradient(#121213, #121213), linear-gradient(90deg, var(--orange), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red));
    background-origin: border-box;
    background-clip: padding-box, border-box, border-box;
    background-size: 200%;
    animation: animate 2s infinite linear;
  }
  
  .play::before {
    justify-content: center;
    content: '';
    background: linear-gradient(90deg, var(--orange), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red));
    position: absolute;
    bottom: -20%;
    z-index: -5;
    background-size: 200%;
    animation: animate 2s infinite linear;
    filter: blur(3.2);
  }
  
  .play:hover, .play:hover::before {
    animation: animate 1.5s infinite linear;
  }
  
  @keyframes animate {
    0% {background-position: 0}
    100% {background-position: 200%}
  }

